@use '../abstract' as a;

:root {
  @include a.map-to-root(clr, a.$colors);
}

body {
  background-color: #181F2B;
  color: white;
}

header {
  background-color: #1B2330;
}

ul {
  list-style: none;
}