.button {
  padding: 1.2rem 3rem;
  border: none;
  border-radius: 50rem;
  font-weight: 700;

  &--cyan {
    color: var(--clr-white);
    background: var(--clr-cyan-gradient);

    &:hover {
      background: var(--clr-cyan-300);
    }
  }
}