@use '../abstract' as a;

.footer {
  background-color: var(--clr-blue-900);
  justify-items: center;

  &__content {
    grid-area: 1/2;
    display: grid;
    gap: 2rem;
    padding: 15rem 0 5rem;
    width: 100%;
    
    @include a.breakpoint(medium) {
      gap: 3.5rem;
    }
  }

  &__logo {
    width: 8rem;
  }

  &__details {
    display: grid;
    gap: 3.5rem;

    @include a.breakpoint(medium) {
      grid-template: 1fr / auto max-content max-content;
      align-items: flex-start;
      justify-content: space-between;
      gap: 8rem;
    }
  }

  &__info {
    display: grid;
    gap: 1.5rem;

    @include a.breakpoint(medium) {
      grid-template-columns: 1fr max-content;
      align-items: flex-start;
    }
  }

  &__contact-methods {
    display: grid;
    gap: 1.25rem;
    width: max-content;
    
    & > * {
      width: max-content;
    }
  }

  &__contact {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    max-width: 30rem;
    
    &--flex-start {
      @include a.breakpoint(medium) {
        align-items: flex-start;
      }
    }
  }

  &__links {
    display: grid;
    gap: 3rem;
    
    @include a.breakpoint(medium) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__links-layout {
    display: grid;
    gap: 1rem;
  }
  
  &__link {
    &:hover {
      font-weight: 700;
      letter-spacing: -0.01785rem;
    }
  }

  &__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;

    & > * {
      padding: 0.5rem;
      color: var(--clr-white);
      border: 1.5px solid var(--clr-white);
      border-radius: 50rem;

      &:hover {
        color: var(--clr-cyan-500);
        border: 1.5px solid var(--clr-cyan-500);
      }
    }
  }
}