@use '../abstract' as a;

.header {
  grid-area: 1/2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  
  @include a.breakpoint(medium) {
    padding: 4.5rem 0;
  }
  
  &__logo {
    width: 5rem;
    
    @include a.breakpoint(medium) {
      width: 11rem;
    }
  }
  
  &__nav-flex {
    display: flex;
    gap: 1.5rem;
    
    & > * {
      :hover {
        font-weight: 700;
        text-decoration: underline;
        letter-spacing: -0.01785rem;
      }
    }
    
    @include a.breakpoint(medium) {
      gap: 3.5rem;
    }
  }
}