@use '../abstract' as a;

.hero {
  grid-area: 1/1 / 1/5;
  display: grid;
  grid-template-columns: 1fr min(120rem, 100% - (2 * 2rem)) 1fr;
  justify-items: center;
  width: 100%;
  margin-bottom: 5rem;
  background: url('../images/bg-curvy-mobile.svg') var(--clr-blue-800) center bottom no-repeat;
  background-size: 100%;
  
  @include a.breakpoint(medium) {
    padding-bottom: 9rem;
    margin-bottom: -5rem;
    background: url('../images/bg-curvy-desktop.svg') var(--clr-blue-800) center bottom no-repeat;
    background-size: 100%;
  }
  
  &__content {
    grid-area: 1/2;
    display: grid;
    gap: 1rem;
    justify-items: center;
    max-width: 45rem;
    margin-top: 2.5rem;
    text-align: center;

    @include a.breakpoint(medium) {
      gap: 2rem;
    }
  }
  
  &__button {
    width: min(60%, 20rem);
  }
}