@use '../abstract' as a;

.text-input {
  display: grid;
  gap: 0.5rem;
  width: inherit;
  position: relative;

  &__field {
    width: inherit;
    padding: 1rem 2.5rem;
    border: 1px solid transparent;
    border-radius: 50rem;
    outline: none !important;

    &::placeholder {
      color: var(--clr-grey-500);
    }

    &:focus {
      border: 1px solid var(--clr-cyan-500);
    }

    &--error,
    &--error:focus {
      border: 1px solid var(--clr-red-500);
    }
  }

  &__status {
    display: none;
    font-size: 0.9rem;
    color: var(--clr-red-500);
    text-align: left;
    margin-left: 2.5rem;
  }
}