@use '../abstract' as a;

.landing-page {
  justify-items: center;
  row-gap: 7.5rem;

  &__multi-features {
    grid-area: 2/2;
    display: grid;
    gap: 5rem;
    max-width: 80rem;

    @include a.breakpoint(medium) {
      grid-template: repeat(2, 1fr) / repeat(2, 1fr);
      row-gap: 6rem;
      column-gap: 10rem;
    }
  }

  &__multi-features-section {
    display: grid;
    grid-template-rows: 6.5rem 1fr;
    align-items: center;
    justify-items: center;
    gap: 1.5rem;
  }

  &__multi-features-text {
    display: grid;
    gap: 1rem;
    text-align: center;
  }

  &__feature {
    grid-area: 3/2;
    display: grid;
    justify-items: center;
    gap: 3rem;
    max-width: 80rem;

    @include a.breakpoint(medium) {
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem;
    }
  }

  &__feature-text {
    display: grid;
    gap: 1rem;

    @include a.breakpoint(medium) {
      align-content: center;
    }

    & > :first-child {
      text-align: center;

      @include a.breakpoint(medium) {
        text-align: left;
      }
    }
  }

  &__feature-link {
    justify-self: flex-start;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: cyan;
    border-bottom: 1px solid cyan;

    &:hover {
      color: var(--clr-white);
      border-bottom: 1px solid var(--clr-white);
    }
  }

  &__testimonial {
    grid-area: 4/2;
    display: grid;
    gap: 1.5rem;
    max-width: 80rem;

    @include a.breakpoint(medium) {
      grid-template: 1fr / repeat(3, 1fr);
      gap: 2.5rem;
    }
  }

  &__testimonial-section {
    display: grid;
    gap: 1rem;
    padding: 1.75rem 1.5rem;
    background-color: #202A3C;
    border-radius: 0.25rem;

    @include a.breakpoint(medium) {
      gap: 1.5rem;
      padding: 3rem 2rem 2rem;
    }
  }

  &__testimonial-user {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  &__testimonial-image {
    width: 2rem;
    border-radius: 50rem;
  }

  &__testimonial-name {
    font-size: 0.9rem;
    font-weight: 700;
  }

  &__testimonial-role {
    font-size: 0.8rem;
  }

  &__cta {
    grid-area: 5/2;
    display: grid;
    gap: 2rem;
    position: relative;
    top: 10rem;
    margin-top: -6rem;
    max-width: 60rem;
    padding: 2.5rem 1.75rem;
    background-color: #202A3C;
    border-radius: 0.25rem;
    
    @include a.breakpoint(medium) {
      gap: 2.5rem;
      padding: 2.75rem 5rem;
    }
  }

  &__cta-text {
    display: grid;
    gap: 1rem;
    text-align: center;

    @include a.breakpoint(medium) {
      gap: 1.25rem;
    }
  }
  
  &__cta-header {
    font-size: 1.25rem;
    
    @include a.breakpoint(medium) {
      font-size: 2rem;
    }
  }

  &__cta-form {
    & > :first-child {
      display: grid;
      justify-items: center;
      gap: 1.5rem;
      border: none;
      
      @include a.breakpoint(medium){
        grid-template-columns: 1fr max-content;
        align-items: flex-start;
        gap: 2rem;
      }

      & > * {
        width: 100%;
      }
    }
  }
}